/* container */
    .container {
        margin              : 0px auto;
        background-color    : aliceblue;
    }

/* header */
    header {
        background-color    : bisque;
        text-align          : center;
        padding             : 20px;
        color               : brown;
    }

/* footer */
    footer {
        background-color    : azure;
        text-align          : center;
        padding             : 20px;
        color               : blueviolet;
    }

/* section 2단형*/
    section {
        display                 : grid;
        grid-template-columns   : 7fr 3fr;
    }

/* section1 중앙형*/
    section1 {
        /* 디스플레이를 안넣으니 모양이 안잡힘 */
        display: grid; 
        width : 600px; 
        margin : 0px auto;
    }    

/* sidebar_a */
    .s_a {
        border  : 1px solid #000000;
        display : grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: minmax(200px auto);
    }

/* sidebar_b */
    .s_b {
        border  : 1px solid red;
        padding-top: 30px;
    }

/* item */
    .item {
       border   : 1px solid blue;
       margin   : 10px 20px;
    }

/* lbl */
    .lbl {
        display : inline-block;
        width   : 120px;
        margin  : 10px;        
    }

/* table */